@page "/fileUpload"
@inject HttpClient Http

<h3>File Content</h3>

@if (string.IsNullOrEmpty(fileContent))
{
    <div>Loading...</div>
}

else
{
    <div>@fileContent</div>
}

@code {
    private string? fileContent;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var absoluteUrl = "https://localhost:7168/sample.txt";
            fileContent = await Http.GetStringAsync(absoluteUrl);

        }
        catch (Exception e)
        {
            Console.WriteLine("Error reading from the file");
        }
    }
}
