@page "/"

<PageTitle>Home</PageTitle>

<h1 style="text-align: center; font-family:Impact;">WELCOME TO FULLCOURT !</h1>
<h2 style="text-align: center; font-family:Impact;"> Where fans can find the lastest info on games, stats and all things ball</h2>
    <br>
<img src="images/butler.webp" alt="player" style="max-width: 100%; height:auto;">



